/* =========== Small Device========= */
@media(min-width: 576px) {
      .row {
        display: flex;
        flex-wrap: wrap;
    }
    .col-sml-12 {
        width: 100%;
    }
}
/* ======== Medium Device =========== */
@media (min-width: 768px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
}
/* =======Large Devices========== */

@media(min-width: 992px) {
    .row {
        display: flex;
        flex-wrap: wrap;    
    }
    
    .col-lrg-6 {
        width: 50%;
    }
}